@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);

  --color-slate-50: #F8FAFC;
  --color-slate-100: #F1F5F9;
  --color-slate-200: #E2E8F0;
  --color-slate-300: #CBD5E1;
  --color-slate-400: #94A3B8;
  --color-slate-500: #64748B;
  --color-slate-600: #475569;
  --color-slate-700: #334155;
  --color-slate-800: #1E293B;
  --color-slate-900: #0F172A;

  --color-green-500: #22C55E;
  --color-green-600: #16A34A;
  --color-green-700: #15803D;

  --color-red-50: #FEF2F2;
  --color-red-500: #EF4444;
  --color-red-600: #DC2626;
  --color-red-800: #991B1B;
}

body {
  background-color: var(--color-slate-100);
  color: var(--color-slate-900);
}

